﻿@page "/fetchdata"


@using Services_Setup.Data
@inject LUIS_ConfiguratorService ForecastService

<h1>Luis Cognitive AI Data Upload</h1>
@if (AppId == "" && status == 1)
{
    <p><em>Choose file to proceed</em></p>
}
else
{
    <p>App Created With ID : @AppId</p>

}

@if (IntentPromise == "" && status == 2)
{
    <p><em>Intent step in progress...</em></p>
}
else if (IntentPromise != "" && status == 2)
{
    <p>Intents Created</p>

}

@if (EntityPromise == "" && status == 3)
{
    <p><em>Entity step in progress...</em></p>
}
else if (EntityPromise != "" && status == 2)
{
    <p>Entities Created</p>

}

@if ((UtterancePromise == "") && (status == 4))
{
    <p><em>Utterance upload step in progress...</em></p>
}
else if (UtterancePromise != "" && status == 2)
{
    <p>Utterances Created</p>

}
@if ((status == 5))
{
    <p>Upload Process Successful</p>

}
@if ((status == 6))
{
    <p>Training Process Successful</p>

}

<InputFile OnChange="HandleFileSelected" />


@code {
    private string currentResponse = string.Empty;
    private string AppId = "";
    private string IntentPromise = string.Empty;
    private string EntityPromise = string.Empty;
    private string UtterancePromise = string.Empty;
    int status = 1;

    async Task HandleFileSelected(IFileListEntry[] files)
    {


        var file = files.FirstOrDefault();
        if (file != null)
        {
            // Just load into .NET memory to show it can be done
            var ms = new MemoryStream();
            await file.Data.CopyToAsync(ms);
            LUIS_ConfiguratorService.PrepareData(ms);

            currentResponse = await ProcessFlow();

        }
    }
    /// <summary>
    /// Creates the app, send the intents, Entity and Utterances
    /// </summary>
    async Task<string> ProcessFlow()
    {
        try
        {
            //Create App
           // AppId = await LUIS_ConfiguratorService.CreateAppRequest();
            AppId = "1e8f31a4-e753-4a14-b437-3107dc8d86c8";
            LUIS_ConfiguratorService.AppId= "1e8f31a4-e753-4a14-b437-3107dc8d86c8";
            if (!AppId.Contains("error"))
            {
                status = 2;
                StateHasChanged();
                IntentPromise = await LUIS_ConfiguratorService.UploadIntentsRequest();
                status = 3;
                StateHasChanged();
                EntityPromise = await LUIS_ConfiguratorService.UploadEntitiesRequest();
                status = 4;
                StateHasChanged();
                UtterancePromise = await LUIS_ConfiguratorService.UploadUtterancesRequest();
                status = 5;
                StateHasChanged();
                UtterancePromise = await LUIS_ConfiguratorService.TrainingRequest();
                status = 6;

            }

        }
        catch
        {

            currentResponse += "An error occurred while creating the LUIS App.";

        }

        return new string(currentResponse);
    }




}
