﻿@page "/QnaMaker_Config"

@using Services_Setup.Data
@using Newtonsoft.Json
@using System.Threading;
@using System.Threading.Tasks;
@using System.Web;
@*@using FileUploadBlazor.Services
    @inject IFileUpload fileUpload*@

@inject LUIS_ConfiguratorService ForecastService

<h1>QNA Maker Cognitive Service Data Upload</h1>
<p> @AppId </p>
<p>Current Response: @currentResponse</p>


<InputFile OnChange="HandleFileSelected" />



@code {
        ////private WeatherForecast[] forecasts;
    private string AppId = "";
    private string currentResponse = string.Empty;
    string status;

    async Task HandleFileSelected(IFileListEntry[] files)
    {
        var file = files.FirstOrDefault();
        if (file != null)
        {
            // Just load into .NET memory to show it can be done
            // Alternatively it could be saved to disk, or parsed in memory, or similar
            var ms = new MemoryStream();         
            await file.Data.CopyToAsync(ms);           
            QNAMaker_Service.ExportToJSON(ms);

            currentResponse = await CreateKB();
             StateHasChanged();
            if (currentResponse.Contains("Succeed"))
                currentResponse = "Uploaded Successfully";
             StateHasChanged();
        }
    }





    /// <summary>
    /// Creates a knowledge base, periodically checking status
    /// until the knowledge base is created.
    /// </summary>
    async Task<string> CreateKB()
    {
        try
        {
            // Starts the QnA Maker operation to create the knowledge base.
            var response = await QNAMaker_Service.PostCreateKB();

            // Retrieves the operation ID, so the operation's status can be
            // checked periodically.
            var operation = response.headers.GetValues("Location").First();

            // Displays the JSON in the HTTP response returned by the
            // PostCreateKB(string) method.
            currentResponse = QNAMaker_Service.PrettyPrint(response.response);
            //Console.WriteLine(QNAMaker_Service.PrettyPrint(response.response));
            
            StateHasChanged();
            // Iteratively gets the state of the operation creating the
            // knowledge base. Once the operation state is set to something other
            // than "Running" or "NotStarted", the loop ends.
            var done = false;
            while (true != done)
            {
                // Gets the status of the operation.
                response = await QNAMaker_Service.GetStatus(operation);

                // Displays the JSON in the HTTP response returned by the
                // GetStatus(string) method.
                currentResponse += QNAMaker_Service.PrettyPrint(response.response);
                 StateHasChanged();
                // Console.WriteLine(QNAMaker_Service.PrettyPrint(response.response));

                // Deserialize the JSON into key-value pairs, to retrieve the
                // state of the operation.
                var fields = JsonConvert.DeserializeObject<Dictionary<string, string>>(response.response);

                // Gets and checks the state of the operation.
                String state = fields["operationState"];
                if (state.CompareTo("Running") == 0 || state.CompareTo("NotStarted") == 0)
                {
                    // QnA Maker is still creating the knowledge base. The thread is
                    // paused for a number of seconds equal to the Retry-After header value,
                    // and then the loop continues.
                    var wait = response.headers.GetValues("Retry-After").First();
                    currentResponse += QNAMaker_Service.PrettyPrint(response.response);
                     StateHasChanged();
                    // Console.WriteLine("Waiting " + wait + " seconds...");
                    Thread.Sleep(Int32.Parse(wait) * 1000);
                }
                else
                {
                    // QnA Maker has completed creating the knowledge base.
                    done = true;
                }
            }
        }
        catch
        {
            // An error occurred while creating the knowledge base. Ensure that
            // you included your QnA Maker subscription key where directed in the sample.
            currentResponse += "An error occurred while creating the knowledge base.";
            //Console.WriteLine("An error occurred while creating the knowledge base.");
        }
        finally
        {
            //Console.WriteLine("Press any key to continue.");
        }
        return new string(currentResponse);
    }
}