﻿@page "/status"
<p>Current count: @currentCount</p>

<h3>Status Info</h3>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override async Task OnInitializedAsync()
    {
        IncrementCount();
    }
}
