﻿@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <img src="image/Prel_logo.png" alt="Image">
        <a href="" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
