.minimizable-web-chat > button.maximize {
  border-radius: 50%;
  bottom: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 30px;
  height: 64px;
  outline: 0;
  padding: 15px;
  position: fixed;
  right: 20px;
  width: 64px;
  background-color: #2e98d4 !important;
  border: 2px solid #2e98d4 !important;
}
.minimizable-web-chat > button.maximize > .red-dot {
  color: #ef0000;
  font-size: 14px;
  position: absolute;
  right: 12px;
  top: 12px;
}
.minimizable-web-chat > button.maximize:focus:not(:active),
.minimizable-web-chat > button.maximize:hover:not(:active) {
  background-color: #e6e6e6 !important;
  border: 2px solid #e6e6e6 !important;
  cursor: pointer;
}
.minimizable-web-chat > button.maximize:hover:not(:active) span {
  color: #fff !important;
}
.minimizable-web-chat > button.maximize:active {
  background-color: #fff;
  color: #2e98d4;
}
.minimizable-web-chat > .chat-box {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 4px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  position: fixed;
  top: 20px;
  width: 33%;
  height: 50%;
  min-height: 550px;
  min-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: none;
}
.minimizable-web-chat > .chat-box.left {
  left: 10px;
}
.minimizable-web-chat > .chat-box.right {
  right: 10px;
}
.minimizable-web-chat > .chat-box > header {
  display: flex;
  background-color: #2e98d4;
  height: 50px;
  padding: 5px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  z-index: 1;
  border-radius: 5px 5px 0 0;
}
.minimizable-web-chat > .chat-box > header > .filler {
  flex: 0 10000 100%;
}
.minimizable-web-chat > .chat-box > header > button {
  width: 40px;
  height: 40px;
  background-color: Transparent;
  border: 0;
  color: #fff;
  outline: 0;
  cursor: pointer;
}
.minimizable-web-chat > .chat-box > header > button:focus:not(:active),
.minimizable-web-chat > .chat-box > header > button:hover:not(:active) {
  color: rgba(255, 255, 255, 0.6);
}
.minimizable-web-chat > .chat-box > header > button:focus:active {
  color: rgba(255, 255, 255, 0.4);
}
.minimizable-web-chat > .chat-box > .react-web-chat {
  flex: 1;
}
.wc-console .wc-menu {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
}
.menu-svg {
  width: 40px;
  height: 40px;
}
.wc-call-wrapper {
  bottom: 0;
  background: #fff;
  box-sizing: border-box;
  height: 45px;
  left: 0;
  position: absolute;
  right: 0;
  padding: 5px 12px;
  text-align: center;
  display: none;
}
.wc-talk {
  display: inline-block;
  padding: 6px 15px;
  border-radius: 50px !important;
  border: 0;
  outline: 0;
  font-size: 14px !important;
  background-color: #0392d4;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin-right: 5px;
}
.wc-talk:hover,
.wc-talk:focus {
  background: #1c9cd8;
}
.wc-call {
  display: inline-block;
  padding: 6px 15px;
  border-radius: 50px !important;
  border: 0;
  outline: 0;
  font-size: 14px !important;
  background-color: #0392d4;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.wc-call:hover,
.wc-call:focus {
  background: #1c9cd8;
}
.talk-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.call-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.chat-title {
  padding: 8px 12px;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  width: 30%;
  text-align: center;
}
.css-1vieo9r .ac-pushButton,
[data-css-1vieo9r] .ac-pushButton {
  background-color: #0063b1 !important;
  color: #fff !important;
  font-weight: 700;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 100%;
  padding: 12px 10px;
  cursor: pointer;
}
.chat-widget.active {
  display: none;
}
.minimizable-web-chat > .chat-box {
  height: 70%;
  bottom: 50px !important;
  top: inherit !important;
  z-index: 999;
  background: #fff !important;
}
.minimizable-web-chat > .chat-box p {
  padding: 0 10px;
  margin-bottom: 7px;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.css-o3xlyv {
  padding: 5px 0 !important;
}
.css-o3xlyv p {
  margin-bottom: 0 !important;
}
.from-user p {
  margin-bottom: 0 !important;
  background: #0392d4;
  color: #fff;
  padding: 5px 10px !important;
  border-radius: 5px;
}
.from-user > .avatar {
  background: #666666 !important;
}
.from-user .content {
  padding-right: 15px;
}
.timestamp {
  padding-top: 0 !important;
  margin: 0 0 0 23px !important;
}
.from-user {
  min-height: auto !important;
}
.css-dfjva8:not(.from-user) {
  background: #fff !important;
  border: 1px solid #e6e6e6 !important;
  max-width: 80% !important;
  margin-left: 15px;
}
.css-dfjva8:not(.from-user) .ac-container {
  padding: 10px !important;
}
.css-dfjva8:not(.from-user) .ac-container .ac-container {
  padding: 0 !important;
}
.css-dfjva8:not(.from-user) .ac-container .ac-container p {
  padding-left: 0 !important;
}
.chat-box input,
.chat-box select {
  border: 1px solid #d6d6d6;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: gray;
  line-height: 24px;
}
.content .attachment {
  background: #fff !important;
}
.ac-pushButton {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400 !important;
  color: #fff !important;
  border-radius: 5px;
  float: left;
  margin-left: 5px;
}
.ac-pushButton:focus {
  outline: none;
}
.ac-actionSet {
  float: right;
  display: block !important;
  width: 100%;
}

.css-1apvbjj button {
  display: inline-block;
  padding: 6px 15px;
  border-radius: 50px !important;
  border: 0 !important;
  outline: 0 !important;
  font-size: 14px !important;
  background-color: #0392d4 !important;
  font-weight: 600;
  color: #fff !important;
  cursor: pointer;
}
.css-1wi3416:not(.from-user) > .avatar {
  background: #0392d4;
}
.css-bo8nme {
  padding: 0 !important;
}
.chat-box .main {
  border-radius: 0 0 5px 5px;
  border: 1px solid #2e98d4;
  background: #fff !important;
  padding: 5px;
  height: 50px !important;
}
.chat-box .main input {
  border: 0 !important;
  background: #fff;
  color: #1d1d1d;
}
.chat-box .main button {
  margin-right: 10px;
}
.chat-box .main button:focus {
  outline: none;
}
.chat-box .main .css-bo8nme {
  width: 100% !important;
}
.chat-box .main svg {
  fill: #1fb5ff !important;
  width: 40px;
}
.chat-title {
  font-weight: 400;
}
.css-dfjva8:not(.from-user) .ac-container p {
  padding: 0 !important;
}
.css-1wi3416:not(.from-user) > .avatar {
  width: 30px !important;
  height: 30px !important;
  font-size: 12px;
  margin-right: 5px !important;
}
.minimizable-web-chat > .chat-box p {
  line-height: 18px;
}
.chat-box .css-dfjva8:not(.from-user) {
  border-radius: 5px !important;
  position: relative;
  max-width: 70% !important;
  min-width: auto !important;
  overflow: visible !important;
  margin-left: 23px !important;
}
.css-dfjva8:not(.from-user):before {
  content: "";
  position: absolute;
  top: 8px;
  left: -8px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid #e6e6e6;
  z-index: 0;
}
.css-dfjva8.from-user,
[data-css-dfjva8].from-user {
  border: none !important;
}
.css-1qyo5rb {
  margin-bottom: 15px !important;
}
.ac-textBlock {
  font-weight: 600 !important;
  font-size: 14px !important;
  color: #1d1d1d !important;
}
.chat-box .css-1vieo9r .ac-pushButton {
  margin-right: 100 !important;
  margin-bottom: 3px !important;
  padding: 7px 30px !important;
  background-color: #fff !important;
  width: 250px !important;
  color: #1d1d1d !important;
  border: 1px solid #2e98d4;
}
.ac-pushButton + div {
  display: none;
}
.css-y1c0xs {
  padding-top: 10px;
}
.ac-container:focus {
  outline: none;
}
.css-1wi3416 > .content > .row > .bubble {
  min-width: auto !important;
  max-width: 75% !important;
}
.chat-notification {
  position: fixed;
  bottom: 30px;
  right: -500px;
  z-index: 999;
  background: #e6e6e6;
  border: 1px solid #e6e6e6;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  padding: 10px;
  width: 240px;
  height: 25px;
  display: block;
  border-radius: 5px;
  transition: 0.5s ease all;
}
.chat-notification:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-top: 5px solid transparent;
  border-left: 10px solid #e6e6e6;
  border-bottom: 5px solid transparent;
  right: -10px;
  bottom: 20px;
}
.chatCount {
  position: fixed;
  bottom: 70px;
  right: 20px;
  z-index: 999;
  background: #ff0000;
  border: 1px solid #ff0000;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  line-height: 16px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transition: 0.5s ease all;
  display: none;
}
.chatCount:after {
  content: "2";
  position: relative;
}

.minimizable-web-chat > button.maximize {
  border-radius: 50% 50% 0;
  bottom: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 30px;
  height: 64px;
  outline: 0;
  padding: 7px;
  position: fixed;
  right: 20px;
  width: 64px;
  background-color: #2e98d4 !important;
  border: 2px solid #2e98d4 !important;
}
.css-dfjva8:not(.from-user) .ac-container div > .ac-textBlock:first-child p {
  font-size: 16px;
  color: #2e98d4;
  font-weight: 500;
  border-bottom: 1px solid #e6e6e6;
  padding: 0px 0px 5px !important;
}
.minimizable-web-chat > .chat-box > header {
  border-radius: 10px 10px 0px 0;
}
.minimizable-web-chat > .chat-box {
  max-width: 450px !important;
  border-radius: 20px 20px 0px 0px !important;
}
.chat-box .css-1vieo9r .ac-pushButton {
  border: 1px solid #e6e6e6;
}
.chat-box .css-dfjva8:not(.from-user) {
  border-radius: 0px 10px 10px 10px !important;
}
.css-1wi3416 > .content > .row > .bubble {
  border-radius: 10px 10px 0px 10px;
}
.css-y1c0xs {
  padding-top: 0px;
}
.menu-svg {
  width: 50px;
  height: 50px;
}
.menu-svg1 {
  width: 40px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.chat-box .main {
  border: 1px solid #e6e6e6;
  padding: 10px 5px;
  border-radius: 0 0 10px 10px;
}
